@import '../../node_modules/@angular/material/theming';

@include mat-core();

$primary: mat-palette((
  100: #272727,
  500: #272727,
  600: #272727,
  contrast: (
    100: white,
    500: white,
    600: white,
  )
));
$accent: mat-palette((
  100: #465C69,
  500: #465C69,
  600: #465C69,
  contrast: (
    100: white,
    500: white,
    600: white,
  )
));
$warn: mat-palette((
  100: #F15722,
  500: #F15722,
  600: #F15722,
  contrast: (
    100: white,
    500: white,
    600: white,
  )
));

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
